{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}

<html>
  <div style="background-color: #7B1FA2; padding: 20px; text-align: center; color: white;">
    <h1 style="color: #FFE8E8;">You're receiving this email because you requested a password reset for your user account at {{ domain }}.</h1>
    <h2 style="margin-bottom: 20px;">Please go to the following page and choose a new password:</h2>
    <div style="margin: auto; width: 150px;">
      <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="background-color: white; color: #4A235A; padding: 10px 20px; text-decoration: none; text-transform: uppercase; display: block; border: 1px solid #4A235A;">
        Reset
      </a>
    </div>
  </div>
</html>
{% endblock html_body %}
